.App {
  text-align: center;
}

* {
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

/* .favColor {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

.Color_grid {
  display: flex;
flex-flow: row wrap;
justify-content: space-around;
margin: 100px;
position: relative;
top: -65px;
}

.rate_grid {
display: flex;
flex-flow: row wrap;
justify-content: space-around;
margin:100px;
}

/* .color_card {
  width: 200px;
  height: 200px;
} */

 h1 {
   font-size: 4em;
   margin-bottom: 20px;
 }

 h3 {
   font-size: 1em;
 }

 h4 {
   margin-top: 75px;
   margin-bottom: -20px;
   font-size: 1.2em;
 }

 button {
   margin: 10px;
   border: 2px solid;
   padding: auto;
   margin-bottom: 28px;
   font-size: 1.2em;
 }

 input {
   margin:10px;
   padding: 3px;
   border: 2px solid;
   margin-bottom: 8px;
 }

 label {
   justify-content: center;
 }

 #border {
  border: 2px solid;
  margin: 10px;
 }

 .crown {
  background-color: transparent;
  position:relative;
  align-self: center;
  top:220px;
  left: center;
  margin-top: -200px;
 }

.nav {
  position:relative;
  align-self: center;
  left: center;
  margin-top: 10px;
}
